<h3> <%= @survey.name() %> </h3>

<form action="/surveys/<%= @survey.id %>/questions" method="post">
  <input type="hidden" name="survey_id" value="<%= @survey.id %>">
  <label for="question_name">Add a question:</label>
  <input name="question_name" type="text">

  <button type="submit">Add Question</button>
</form>


<% if @survey.questions.any?() %>
  <h3>Here are all the questions for this survey:</h3>

  <ul>
    <% @survey.questions.each() do |question| %>
      <li><a href="/questions/<%= question.id %>"><%= question.description %></a></li>
    <% end %>
  </ul>

<% else %>
  <p>There are no questions yet!</p>
<% end %>

<h3>Update Survey:</h3>
<form action="/surveys/<%= @survey.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="new_survey">Change Survey:</label>
  <input type="text" name="new_survey">

  <button type="submit">Update</button>
</form>

<h2>Delete Question:</h2>
<form action="/surveys/<%= @survey.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>
</form>
